html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul , a{
	list-style: none;
  text-decoration: none;
  color: black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container-navegacao{
  display: flex;
  margin: 0 auto;
  
}

.logo-titulo{
  display: flex;
  padding: 40px;
  width: 1603px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
  
}
.titulo{
  width: 212px;
  height: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  
  
}
.menu-nav ul {
  display: flex;
 
}

#link-todos{

  font-weight: 600;
  line-height: 16px;
  color: #292929;
}
.menu-nav ul li a{
  margin: 10px;
}
.menu-nav ul li a:hover{
  
  border-bottom: solid 2px #37268C;
     
}

.container{
  
  display: flex;
  padding: 40px;  
  margin : 0 auto;
}
.listaProdutos{
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.cardProduto{
  display: flex;
  flex-direction: column;
  width: 292px;
  border: solid 1px #f5f5f5 ;
  margin-bottom: 10px;
  
  
}
figure{
 background-color:  #f5f5f5  ;
 overflow: hidden;

}
.cardProduto img{
  width: 191px;
  height: 140px;
  background-color:#F5F5F5 ;
  border: solid 1px  #f5f5f5 ;
  margin-left: 50px;
  
}
.cardProduto:hover figure img{
  transform: scale(1.2);
	
}

.cardProduto h5 {
  display: flex;
  color: #ffffff;
  background-color: #2E245E;
  width: 73px;
  height: 24px;
  gap: 10px;
  padding: 12px 5px;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  margin: 10px;
 
}
.cardProduto h3{
  width: 269px;
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #292929;
  margin: 10px;

}

.paragrafo-description{

  width: 269px;
  height: 72px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  margin: 10px;
}
.paragrafo-valor{
  
  width: 269px;
  height: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #2E245E; 
  margin: 10px;
  
  
}
.button-adicionar{
  
  width: 165px;
  height: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #242424;
  margin: 10px;
 
}
.button-adicionar:hover{
  background-color: #2E245E;
	color: #fff;
}

 .cardProduto .button-adicionar  :hover{
  background-color: #37268C;
}

 
.campoBusca{
  display: flex;
  justify-content: end;
  
 
}
.campoBusca input{
  width: 246px;
  height: 50px;
  color:#121010;
  border: 1px solid #F5F5F5;
 
  
}
.campoBusca button{
  width: 96px;
  height: 50px;
  background-color: #37268C;
  border: 1px solid #37268C;
  color: #fff ;
  font-weight: 500;
  line-height: 16px;
  
}

.carrinho{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
 
 
}

.carrinho h2{
  
  color:#fff ;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #37268C;
  justify-content: center
  
}

.carrinho ul{
  padding: 40px;
  background-color: #f5f5f5;
  width: 347px;
  height: 214px;
  line-height: 24px;
  overflow: scroll;
  
 
}

.listaCarrinho img{
  width: 88px;
  height: 92px;
}
.listaCarrinho h3{
  font-weight: 700;
  color: #333333;

}
.listaCarrinho p {
  color: #2E245E;
  font-weight: 600;
  font-size: 14px;
}
.listaCarrinho button{
  border: none;
  color: #242424;
}
 

.total-carrinho{
  display: flex;
  flex-direction: column;
  background-color: #292929;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 345px;
  height: 126px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
 
